body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
}

#container {
    padding-top: 20px;
}

.row {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.rectangle {
    width: 100px;
    height: 250px;
    background-color: #d7cec7;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #aaa;
    transition: width 2s;
}

.filtered1 { filter: hue-rotate(30deg); }
.filtered2 { filter: hue-rotate(60deg); }
.filtered3 { filter: hue-rotate(90deg); }
.filtered4 { filter: hue-rotate(120deg); }
.filtered5 { filter: hue-rotate(150deg); }

@keyframes dynamicDistortion {
    0% { filter: blur(0px); }
    50% { filter: blur(2px); }
    100% { filter: blur(0px); }
}

#container {
    width: 730px;
    overflow-x: scroll; /* Permette lo scorrimento orizzontale */
}

.row {
    display: flex; /* Allineamento flessibile dei rettangoli */
    flex-wrap: nowrap; /* Impedisce l'involucro dei rettangoli */
    min-width: fit-content; /* Assicura che la riga si estenda per adattarsi al suo contenuto */
}
